page-study-options {
   

    @media (min-width : 768px) {
        p {
            font-size: 25px;
            color: gray;
        } 

        ion-item {
            ion-label {
               font-size: 25px;
            }
        } 
    }
    

}
