<!--
  Generated template for the AreasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header class="blue-header"> 
    <header title="Projects" sub_title="Locations" button="back"></header>
</ion-header> 

<ion-content padding >
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh">
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-list class="avatar-list" *ngIf="show && data.length > 0">    
    <ion-item *ngFor="let location of data; let i = index;"  (click)="gotoDetail(location)">
      <ion-avatar item-start>
        <img [src]="getImage()" alt="avatar">
      </ion-avatar>
      <h2>{{ location.locationname }}</h2>
      <p>{{ location.addresslineone }}</p>
    </ion-item>   
  </ion-list>
    
</ion-content>
