<!--
  Generated template for the SelectRolePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<in-one tablename="Roles" [isFiltering]="isFiltering" [items]="data" (is_Filtering)="is_Filtering($event)" 
      (selectedItem)="selectItem($event)" (create)="createItem($event)" (refresh)="doRefresh($event)"></in-one>-->
 

<ion-header class="blue-header role-header" no-border>
    <ion-toolbar color="primary" *ngIf="!isSearching">
       
       <button ion-button (click)="openMenu()" class="men_btn">
          <ion-icon name="menu" class="ion-md-new-toggle"></ion-icon>
       </button> 
    
        <ion-title>Select Role</ion-title>
        
        <ion-buttons end *ngIf="!isSearching">
          <button ion-button clear (click)="isSearching = !isSearching">
              <ion-icon ios="ios-search" md="md-search" class="ion-md-new-toggle"></ion-icon>
          </button> 
        </ion-buttons>
    
      </ion-toolbar>

      <ion-toolbar *ngIf="isSearching">
          <ion-searchbar
          [class.has-content]="!!searchInput"
          [(ngModel)]="searchInput"
          [showCancelButton]="true"
          [animated]="true"
          (ionInput)="onSearchInput($event)"
          (ionCancel)="isSearching = !isSearching">
        </ion-searchbar>
      </ion-toolbar>
   
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh">
      </ion-refresher-content>
  </ion-refresher>

   <!-- ROUND TIME COMPONENT-->
   <div class="blue-header">
      <timer></timer>
   </div>
   
   <ion-toolbar class="sub-header bottom-border" [hidden]="isFiltering">
       <ion-grid>
         <ion-row>
           <ion-col col-6>
             <div class="sub-heading">Select Role</div>
           </ion-col>
           <ion-col col-6 text-right (click)="sortData()">
             <div class="sub-heading">FILTER &nbsp; <ion-icon name="options"></ion-icon></div>
           </ion-col>
         </ion-row>
       </ion-grid>
   </ion-toolbar>

   <ion-toolbar class="sub-header bottom-border" [hidden]="!isFiltering">
       <ion-grid>
         <ion-row>
           <ion-col col-6>
             <div class="sub-heading" style="font-weight:bold;">Sort by</div>
           </ion-col>
           <ion-col col-6 text-right (click)="sortData()">
             <div class="sub-heading">
               <ion-icon name="close"></ion-icon>
             </div>
           </ion-col>
         </ion-row>
       </ion-grid>
   </ion-toolbar>

   <ion-toolbar class="sub-header bottom-border segment_btn_css" [hidden]="!isFiltering">
       <ion-segment [(ngModel)]="filter">
           <ion-segment-button  value="recently_added" >
             RECENTLY ADDED
           </ion-segment-button>
           <ion-segment-button  value="most_popular">
             MOST POPULAR
           </ion-segment-button>
         </ion-segment>
   </ion-toolbar>


  <div *ngIf="!isFiltering">
    
    <ion-list class="list_items" *ngIf="show" padding>
      <ion-item *ngFor="let role of roles;" (click)="selectRole(role)" [ngClass]="getStyle(role)">
        <p>{{ role.name }}</p>
      </ion-item>
    </ion-list>
 </div>
  
  <div [ngSwitch]="filter" *ngIf="isFiltering">
      <ion-list *ngSwitchCase="'most_popular'" class="list_items" padding>
          <ion-row class="sub-header bottom-border" padding>
              <ion-col>
                <div class="sub-heading">Position</div>
              </ion-col>              
          </ion-row>
         
          <ion-item *ngFor="let role of roles | sort : 'popularity'; let i=index;" [ngClass]="getStyle(role)" (click)="selectRole(role)">
            <p>{{ role.name }}</p>
          </ion-item>
         
      </ion-list>
    
      <ion-list class="list_items" *ngSwitchCase="'recently_added'" padding>
          <ion-item *ngFor="let role of roles?.reverse(); let i=index;" (click)="selectRole(role)" [ngClass]="getStyle(role)">
            <p>{{ role.name }}</p>
        </ion-item>
      </ion-list>
      
  </div>


</ion-content>

<ion-footer no-border>
  <button ion-button block no-margin class="theme-btn no-radius" (click)="createRole()">Create Role</button>
</ion-footer>
