<!--
  Generated template for the CreateElementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="blue-header">
      <ion-toolbar color="primary">
          <button ion-button clear class="nav-back" (click)="goBack()">
              <ion-icon name="arrow-back" class="ion-md-new-back"></ion-icon>
          </button>
          
          <ion-title>Create Element</ion-title>
          <ion-buttons end  *ngIf="show">
            <button ion-button icon-only margin-right (click)="setUserInfo()">
              <span>Save</span>
            </button>
          </ion-buttons>
      
        </ion-toolbar>
      
        <div class="blue-header">
          <timer></timer>
        </div>
      
        <ion-toolbar class="sub-header">
          <div margin-left>Details</div>
        </ion-toolbar>
    
  </ion-header>


  <ion-content padding class="white-bg">

    <form [formGroup]="elementForm" *ngIf="show">
        
      <h2>Name:</h2>
      
      <ion-input type="text" placeholder="Enter name" name="name" formControlName="name"></ion-input>

      <p *ngIf="!elementForm.controls.name.valid && (elementForm.controls.name.dirty)">
        Please enter element name(minimum 5 Characters).
      </p>

      <ion-list>
        <ion-item>
          <ion-label><h3>Categories</h3></ion-label>
          <ion-select formControlName="category">
            <ion-option *ngFor="let category of categories; let i=index;" [value]="category.name"> {{ category.name }}</ion-option>
          </ion-select>
        </ion-item>       
      </ion-list>

      <ion-list radio-group [(ngModel)]="typesModel" formControlName="type">
          <h2>
            Types:
          </h2>
        
          <ion-item>
            <ion-label> Fixed</ion-label>
            <ion-radio value="fixed"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label> Variable</ion-label>
            <ion-radio value="variable"></ion-radio>
          </ion-item>

      </ion-list>

      <ion-list radio-group [(ngModel)]="ratingModel" formControlName="type">
        <h2>
          Default Rating:
        </h2>
      
        <ion-item>
          <ion-label> 100</ion-label>
          <ion-radio value="100"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label> Field User Input</ion-label>
          <ion-radio value="Field User Input"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label> Not Rated</ion-label>
          <ion-radio value="Not Rated"></ion-radio>
        </ion-item>

    </ion-list>

      <ion-list class="options-list">
          <h2>Study Types:</h2>
          <ion-item no-padding no-border >
            <ion-label color="text-grey">Efficiency Study</ion-label>
            <ion-checkbox [(ngModel)]="e_study" formControlName="status"></ion-checkbox>
            
          </ion-item>
          
          <ion-item no-padding no-border>
            <ion-label color="text-grey">Activity Time</ion-label>
            <ion-checkbox [(ngModel)]="a_time" formControlName="status"></ion-checkbox>
          </ion-item>

          <ion-item no-padding no-border>
              <ion-label color="text-grey">Role Study</ion-label>
              <ion-checkbox [(ngModel)]="r_study" formControlName="status"></ion-checkbox>
            </ion-item>
          
        </ion-list>

    </form>

</ion-content>
