<!--
  Generated template for the CreateElementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="blue-header">
      <ion-toolbar color="primary">
          <button ion-button clear class="nav-back" navPop>
              <ion-icon name="arrow-back" class="ion-md-new-back"></ion-icon>
          </button>
          
          <ion-title>Create Element</ion-title>
          <ion-buttons end *ngIf="show">
            <button ion-button icon-only margin-right (click)="setUserInfo()" [disabled]="creationForm.invalid">
              <span>Save</span>
            </button>
          </ion-buttons>
      
        </ion-toolbar>
      
        <!-- <div class="blue-header">
          <timer></timer>
        </div> -->
      
        <ion-toolbar class="sub-header">
          <div margin-left>Details</div>
        </ion-toolbar>
    
  </ion-header>


  <ion-content padding class="white-bg">

    <form [formGroup]="creationForm" *ngIf="show">
        
      <h2>Name:</h2>
      
      <ion-input type="text" placeholder="Enter name" name="name" formControlName="name"></ion-input>

      <p *ngIf="!creationForm.controls.name.valid && (creationForm.controls.name.dirty)">
        Please enter element name(minimum 5 Characters).
      </p>

      <ion-list>
        <ion-item>
          <ion-label><h3>Categories</h3></ion-label>
          <ion-select formControlName="category">
            <ion-option *ngFor="let category of categories; let i=index;" [value]="category"> {{ category.name }}</ion-option>
          </ion-select>
        </ion-item>       
      </ion-list>

      <ion-list radio-group formControlName="type">
          <h2>
            Types:
          </h2>
        
          <ion-item *ngFor="let type of types;">
            <ion-label> {{ type.name }} </ion-label>
            <ion-radio [value]="type.id"></ion-radio>
          </ion-item>

           <p *ngIf="!creationForm.controls.type.valid && (creationForm.controls.type.dirty)">
              Please select a type.
            </p>
          
      </ion-list>

      <ion-list radio-group formControlName="rating">
        <h2>
          Default Rating:
        </h2>

         <ion-item *ngFor="let rating of ratings;">
            <ion-label>{{ rating.name }}</ion-label>
            <ion-radio [value]="rating.id"></ion-radio>
         </ion-item>

         <p *ngIf="!creationForm.controls.rating.valid && (creationForm.controls.rating.dirty)">
              Please select a rating.
         </p>

    </ion-list>

      
    <ion-list>
      <ion-item no-padding no-border *ngFor="let study_type of study_types; let i=index;">
        <ion-label>{{ study_type.name }}</ion-label>
        <ion-checkbox (ionChange)="addStudyType(study_type.id)"></ion-checkbox>
      </ion-item>
    </ion-list>

    <!-- <pre>Form value: <br>{{creationForm.value | json}}</pre> -->
    
    </form>

</ion-content>
