  <ion-header class="blue-header create-study-header">
    <ion-navbar color="primary">
      <ion-title>{{ title }}</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content>

    <p padding *ngIf="error !== 'Wrong password'"> Sorry, we can't find an account matching the email address: <br>
        <b> {{ this.email }} </b> <br><br>
        If you do not have an account, please contact your system administrator. Otherwise, try again using a different email address.
    </p>

    <p padding *ngIf="error == 'Wrong password'"> 
      The password you have entered for the account <b> {{ this.email }} </b> is incorrect. <br><br>
      If you have forgotten you password tap on Reset Password.<br>
      Alternatively tap Try Again to re-enter your password.

  </p>

  </ion-content>
  
  <ion-footer>

    <ion-grid>

      <ion-row *ngIf="error !== 'Wrong password'">
        <ion-col col-6></ion-col>
        <ion-col col-6 >
            <button ion-button clear class="theme-btn no-radius btn-text" (click)="dismiss('dismiss')">TRY AGAIN</button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="error == 'Wrong password'">
        <ion-col col-6>
            <button ion-button clear block class="theme-btn no-radius" (click)="dismiss('reset_password')">RESET PASSWORD</button>
        </ion-col>
        <ion-col col-6>
            <button ion-button clear block class="theme-btn no-radius" (click)="dismiss('dismiss')">TRY AGAIN</button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-footer>