<ion-header class="blue-header">
    <ion-navbar color="primary">
      <ion-title>{{ title }}</ion-title>
      <!--
      <ion-buttons end>
        <button ion-button icon-only>
        <ion-icon name='bulb'></ion-icon>
      </button>
      </ion-buttons>
      -->
    </ion-navbar>
  </ion-header>

  <ion-content padding>

    <p *ngIf="error !== 'Wrong password'"> Sorry, we can't find an account matching the email address: <br>
        <b> {{ this.email }} </b> <br><br>
        If you do not have an account, please contact your system administrator. Otherwise, try again using a different email address.
    </p>

    <p *ngIf="error == 'Wrong password'"> 
      The password you have entered for the account <b> {{ this.email }} </b> is incorrect. <br><br>
      If you have forgotten you password tap on Reset Password.<br>
      Alternatively tap Try Again to re-enter your password.

  </p>

  </ion-content>
  
  <ion-footer padding>

      <ion-buttons end *ngIf="error !== 'Wrong password'">
        <button ion-button clear class="theme-btn no-radius" (click)="dismiss('dismiss')">TRY AGAIN</button>
      </ion-buttons>

      <ion-buttons end *ngIf="error == 'Wrong password'">
          <button ion-button clear block padding class="theme-btn no-radius" (click)="dismiss('reset_password')">RESET PASSWORD</button>
          <button ion-button clear block padding class="theme-btn no-radius" (click)="dismiss('dismiss')">TRY AGAIN</button>
      </ion-buttons>

  </ion-footer>