
<ion-menu [content]="content">
  <ion-content>
      <div class="menu-profile-section">
          <div class="menu-profile-img" *ngIf="isMenuOpened">
            <img [src]="getProfileImage()" alt="avatar">
          </div>
          <div class="profile-name" *ngIf="isMenuOpened">
            <span>{{ user.firstname + ' ' + user.lastname }}</span>
          </div>
          <div class="profile-mail" *ngIf="isMenuOpened">
            <span>{{ user.email }}</span>
          </div>
    </div>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          
        <ion-icon ios="ios-paper" md="md-paper" item-start *ngIf="p.title == 'Projects'"></ion-icon>
        <ion-icon ios="ios-sync" md="md-sync" item-start *ngIf="p.title == 'Sync Data' "></ion-icon>
        <ion-icon ios="ios-information" md="md-information" item-start *ngIf="p.title == 'Help'"></ion-icon>
        <ion-icon ios="ios-settings" md="md-settings" item-start *ngIf="p.title == 'Settings'"></ion-icon>
        <ion-icon ios="ios-notifications" md="md-notifications" item-start *ngIf="p.title == 'Report a Problem'"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
  <!-- <nav-menu></nav-menu> -->

  <ion-footer>
      <button menuClose ion-button full class="menu-footer" no-margin (click)="openModal()">LOGOUT</button>
  </ion-footer>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false" ></ion-nav> 
