<!--
  Generated template for the ResetPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="blue-header">

  <ion-navbar color="primary">
    <ion-title>Reset Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
        <div class="center-align-outer">
            <div class="center-align-inner">            
                <form *ngIf="!emailSENT" [formGroup]="resetPWForm" (submit)="submitForm()">
                    <div class="vc-align" text-center>
                        <div class="vc-align-inner">
                                <!-- <ion-img width="175" height="175" class="margin-auto loginForm-logo-top" src="assets/images/logo.png"></ion-img>  -->

                                <h2> Forgotten your password ?</h2>
                                <p> Just enter your registered email address and we will send you a link to create a new one</p>

                                <div >
                                    <!-- EMAIL FIELD -->
                                    <ion-input placeholder="Email Address" formControlName="email" type="email" margin-bottom></ion-input>
                            
                                    <p *ngIf="!resetPWForm.controls.email.valid  && (resetPWForm.controls.email.dirty)">
                                        Please enter a valid email.
                                    </p>
                                        
                                </div>
                        
                            <button ion-button full class="theme-btn no-radius" [disabled]="resetPWForm.invalid"> RESET PASSWORD </button>
                        </div>
                    </div>
                </form>
                

      <form *ngIf="emailSENT">
          <div text-center>
             <!-- <img src="assets/avatar/av-04.png" alt="avatar">   -->
             <div class="success-check">
                <ion-icon name="checkmark"></ion-icon>
            </div>
             <h3>A password reset request has been sent.</h3>
             <p>
                 We've sent an email to the address registered to your account.<br>
                 Simply follow the instructions to reset you password.<br><br>
                 Don't forget to check your junk or spam folder!
             </p>
                 
           </div>
         
           <button ion-button full class="theme-btn no-radius" navPop> RETURN TO LOGIN </button>
 
       </form>
       

    </div>
</div>

</ion-content>
