page-reset-password {

    h2 {
        font-size: 26px;
        @media (min-width: 768px) {
            font-size: 38px;
        }
    }

    p {
        color: gray;
        font-size: 18px;
        @media (min-width: 768px) {
            font-size: 24px;
        }
    }
}
