<!--
  Generated COMPONENT .

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div>

  <div class="blue-header">
    <timer></timer>
  </div>

  <ion-toolbar class="sub-header bottom-border">
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <div class="sub-heading">{{ !isFiltering ? 'Select '+ (TABLE_NAME | slice:0:-1) : 'Sort By' }}</div>
        </ion-col>
        <ion-col col-6 text-right (click)="is_Filtering_()">
          <div class="sub-heading" *ngIf="!isFiltering">FILTER &nbsp; <ion-icon name="options"></ion-icon></div>
          <div class="sub-heading" *ngIf="isFiltering"><ion-icon name="close"></ion-icon></div>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-toolbar>

    <ion-toolbar class="sub-header bottom-border segment_btn_css" *ngIf="isFiltering">
    <ion-segment [(ngModel)]="filter">
      <ion-segment-button  value="most_popular">
        MOST POPULAR
      </ion-segment-button>
      <ion-segment-button  value="recently_added" >
        RECENTLY ADDED
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-toolbar class="sub-header bottom-border segment_btn_css" *ngIf="isFiltering && (TABLE_NAME == 'Elements')">
    <ion-segment [(ngModel)]="order" style="margin-top:0px !important;">
      <ion-segment-button value="ascending">
          ASCENDING
      </ion-segment-button>
      <ion-segment-button value="descending">
          DESCENDING
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>


  <ion-list class="list_items" *ngIf="!isFiltering && TABLE_NAME !== 'Elements'" padding>
    <ion-item *ngFor="let item of items | order; let i=index;" (click)="selectItem(item)" [ngClass]="getStyle(item)">
      <p>{{ item.name }}</p>
    </ion-item>
  </ion-list>

  <div *ngIf="!isFiltering && TABLE_NAME == 'Elements'">
    <ion-item-group class="list_items" padding *ngFor="let group of items;">
      <ion-item-divider color="light">{{ group.letter }}</ion-item-divider>
      <ion-item *ngFor="let item of group.items; let i=index;" (click)="selectItem(item)" [ngClass]="getStyle(item)">
        <p><span class="number-icon">{{ item.numericID ? item.numericID : '--' }}</span> {{ item.name }}</p>
      </ion-item>
    </ion-item-group>
  </div>

  <div [ngSwitch]="filter" *ngIf="isFiltering">
      <ion-list class="list_items" *ngSwitchCase="'most_popular'" padding>
          <ion-row class="sub-header bottom-border" padding>
              <ion-col>
                <div class="sub-heading">Position</div>
              </ion-col>              
          </ion-row>
          <ion-item *ngFor="let item of items | sort : 'popularity_number': 'numericID' : order; let i=index;" [ngClass]="getStyle(item)" (click)="selectItem(item)">
            <p><span class="number-icon" *ngIf="TABLE_NAME == 'Elements'">{{ item.numericID ? item.numericID : '--' }}</span> {{ item.name }}</p>
          </ion-item>
      </ion-list>
    
      <ion-list class="list_items" *ngSwitchCase="'recently_added'" padding>
          <ion-item *ngFor="let item of items?.reverse() | reverse: 'numericID' : order; let i=index;" (click)="selectItem(item)" [ngClass]="getStyle(item)">
            <p><span class="number-icon" *ngIf="TABLE_NAME == 'Elements'">{{ item.numericID ? item.numericID : '--' }}</span> {{ item.name }}</p>
          </ion-item>
      </ion-list>
  </div>
</div>