<!--
  Generated template for the StudyPhotoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="blue-header">
  <in-study-header title="Study Photo"></in-study-header>
</ion-header>


<ion-content>

     <div class="blue-header">
        <timer></timer>
    </div>
    
    <!-- <div class="default_image" *ngIf="!isPhotoTaken">
        <div class="center-align-outer">
            <h4>Add a photo of this observation</h4>
            <div class="__image" [ngStyle]="{'background-image': 'url('+getImage()+')' }"></div>
            <p >Tap the Add Photo button to use the camera</p>
        </div>
    </div> -->
    <h4 text-center *ngIf="!isPhotoTaken">Add a photo of this observation</h4>
    <div text-center class="__image">
        <ion-img padding class="subimg" id="file" [src]="isPhotoTaken ? photo : 'assets/images/camera.png'"></ion-img>
        <p text-center *ngIf="!isPhotoTaken">Tap the Add Photo button to use the camera</p>
    </div>
   

</ion-content>

<ion-footer>
    <ion-grid no-padding *ngIf="!isPhotoTaken" >  
      <ion-row >
        <ion-col col-12>
            <button ion-button block no-margin class="theme-btn no-radius" (click)="takePhoto()">ADD PHOTO</button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="isPhotoTaken">
      <ion-row>
        <ion-col col-6>
            <button ion-button block no-radius class="theme-btn no-radius" (click)="takePhoto()">DISCARD</button>
        </ion-col>
        <ion-col col-6>
            <button ion-button block class="theme-btn no-radius" (click)="checkInternetConnection()">SAVE</button>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-footer>
