<ion-header class="blue-header">
    
    <ion-navbar color="primary">
      <ion-title>
          Observation - Summary
      </ion-title>
    </ion-navbar>
      
    <!-- <header title="Observation - Summary " button="back"></header> -->
      
  </ion-header>
  
<ion-content *ngIf="show">

  <ion-card no-margin class="full-card">
    <my-img [src]="getImage()" [alt]="Observation-Image" [default]="DEFAULT_IMG"></my-img>
    <div class="card-title overlayed">
      <!-- <span>12</span> -->
      {{ parser.geAllData().title }}</div>
  </ion-card>

  <ion-list>
      
    <ion-item>
      <ion-label stacked>Area</ion-label>
      <ion-input type="text" value="{{ data.area.name }}" disabled readonly></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label stacked>Rating</ion-label>
      <ion-input type="text" value="{{data.rating}}" disabled readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Frequency</ion-label>
      <ion-input type="text" value="{{ data.frequency }}" disabled readonly></ion-input>
    </ion-item>

    <ion-item>
        <ion-label stacked>Study Time:</ion-label>
        <ion-input value="{{ convertTime(parser.geAllData().studyStartTime) }}" disabled readonly></ion-input>
    </ion-item>

    <ion-item>
        <ion-label stacked>Observation Time:</ion-label>
        <ion-input value="{{ data.observationTime }}" disabled readonly></ion-input>
    </ion-item>
  
    <ion-item *ngIf="data.notes">
      <ion-label stacked>Notes</ion-label>
      <ion-textarea value="{{ data.notes }}" disabled readonly></ion-textarea>
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer no-padding>
    <button ion-button block  no-margin class="theme-btn no-radius" (click)="deletConfirmation()">Delete</button>
</ion-footer>
