<ion-header class="blue-header">
    
  <ion-navbar color="primary">
    <ion-title>
      Observation - Summary
    </ion-title>
    
    <ion-buttons end>
      <button ion-button icon-only (click)="updateStudyData()" [disabled]="!isUpdateAble()" padding>
        <ion-icon ios="ios-document" md="md-document"></ion-icon>
      </button>
    </ion-buttons> 
   
  </ion-navbar>
</ion-header>
  
<ion-content *ngIf="show">

  <ion-card no-margin class="full-card">
    <my-img [src]="getImage()" [alt]="Observation-Image" [default]="DEFAULT_IMG"></my-img>
    <div class="card-title overlayed">
      {{ !isOfflineStudy() ? parser.geAllData().title : data?.title }}
    </div>
  </ion-card>

  <ion-list>
      
    <ion-item>
      <ion-label stacked>Area</ion-label>
      <ion-input type="text" value="{{ parseData.getStudyData().getArea().name ? parseData.getStudyData().getArea().name : data?.area }}" disabled readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Role</ion-label>
      <ion-input type="text" value="{{ parseData.getStudyData().getRole().name ? parseData.getStudyData().getRole().name : data?.role }}" disabled readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label><h3>Elements</h3></ion-label>
      <ion-select [(ngModel)]="editedElement">
        <ion-option *ngFor="let element of elements; let i=index;" [value]="element" [selected]="element._id == data.element._id"> {{ element.name }}</ion-option>
      </ion-select>
    </ion-item>       
  
    <ion-item>
      <ion-label stacked>Rating</ion-label>
      <ion-input type="number" pattern="\\d*" value="{{ data?.rating }}" (input)="edit($event.target.value , 'rating')" [disabled]="data?.rating == 'Not Rated'"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Frequency</ion-label>
      <ion-input type="number" pattern="\\d*" value="{{ data?.frequency }}" (input)="edit($event.target.value , 'frequency')"></ion-input>
    </ion-item>

    
    <ion-item>
      <ion-label stacked>Observation Time:</ion-label>
      <ion-input value="{{ data?.time }}" disabled readonly></ion-input>
    </ion-item>
  
    <ion-item *ngIf="data.notes">
      <ion-label stacked>Notes</ion-label>
      <ion-textarea value="{{ data?.notes }}" disabled readonly></ion-textarea>
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer no-padding>
  <button ion-button block no-margin class="theme-btn no-radius" (click)="deletConfirmation()">Delete</button>
</ion-footer>
