
<!--
  Generated template for the SelectelementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="blue-header role-header" no-border>

    <ion-toolbar color="primary" *ngIf="!isSearching">
     
      <button ion-button navPop clear class="absolute nav-back">
        <ion-icon name="arrow-back" class="ion-md-new-back"></ion-icon>
      </button>
      <!-- 
      <button ion-button (click)="cancelStudy()" class="men_btn">
        <ion-icon name="menu" class="ion-md-new-toggle"></ion-icon>
      </button>  
      -->    
      <ion-title>Select {{ TABLE_NAME | slice:0:-1 }}</ion-title>
        
      <ion-buttons end *ngIf="!isSearching">
        <button ion-button clear (click)="isSearching = !isSearching">
            <ion-icon ios="ios-search" md="md-search" class="ion-md-new-toggle"></ion-icon>
        </button> 
      </ion-buttons>
    
    </ion-toolbar>

    <ion-toolbar *ngIf="isSearching">
        <ion-searchbar
        [class.has-content]="!!searchInput"
        [(ngModel)]="searchInput"
        [showCancelButton]="true"
        [animated]="true"
        (ionInput)="onSearchInput($event)"
        (ionCancel)="isSearching = !isSearching">
      </ion-searchbar>
    </ion-toolbar>
  
  </ion-header>

  <ion-content>

    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh">
      </ion-refresher-content>
    </ion-refresher>

    <in-one *ngIf="show" tablename="Elements" [isFiltering]="isFiltering" [items]="data" (is_Filtering)="is_Filtering($event)" 
      (selectedItem)="selectItem($event)" (create)="createItem($event)"></in-one> 
      
  </ion-content>

  <ion-footer no-border>
    <button ion-button block no-margin class="theme-btn no-radius" (click)="createItem()">Create {{ TABLE_NAME | slice:0:-1 }}</button>
  </ion-footer>

<!-- <ion-header class="blue-header" no-border>
    <ion-toolbar color="primary" *ngIf="!isSearching">
       
      <button ion-button (click)="openMenu()" class="men_btn">
        <ion-icon name="menu" class="ion-md-new-toggle"></ion-icon>
      </button>
      
  
      <ion-title>Select {{ TABLE_NAME | slice:0:-1 }}</ion-title>
      
      <ion-buttons end *ngIf="!isSearching">
        <button ion-button clear (click)="isSearching = !isSearching">
            <ion-icon ios="ios-search" md="md-search" class="ion-md-new-toggle"></ion-icon>
        </button> 
      </ion-buttons>
  
    </ion-toolbar>

    <ion-toolbar *ngIf="isSearching">
        <ion-searchbar
        [(ngModel)]="searchInput"
        [showCancelButton]="true"
        [animated]="true"
        (ionInput)="onSearchInput($event)"
        (ionCancel)="isSearching = !isSearching">
      </ion-searchbar>
    </ion-toolbar>

</ion-header>


<ion-content>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh">
        </ion-refresher-content>
    </ion-refresher>

    <div class="blue-header">
        <timer></timer>
    </div>

    <ion-toolbar class="sub-header bottom-border">
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <div class="sub-heading">{{ !isFiltering ? 'Select '+ (TABLE_NAME | slice:0:-1) : 'Sort By' }}</div>
            </ion-col>
            <ion-col col-6 text-right (click)="is_Filtering_()">
              <div class="sub-heading" *ngIf="!isFiltering">FILTER &nbsp; <ion-icon name="options"></ion-icon></div>
              <div class="sub-heading" *ngIf="isFiltering"><ion-icon name="close"></ion-icon></div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>

      <ion-toolbar class="sub-header bottom-border segment_btn_css" [hidden]="!isFiltering">
          <ion-segment [(ngModel)]="filter">
              <ion-segment-button value="recently_added">
                RECENTLY ADDED
              </ion-segment-button>
              <ion-segment-button value="most_popular">
                MOST POPULAR
              </ion-segment-button>
          </ion-segment>
      </ion-toolbar>


      <!-- SHOWING WHEN FILTER BUTTON IS CLICKED --
      <ion-toolbar class="sub-header bottom-border" [hidden]="!isFiltering">
          <ion-grid>
            <ion-row>
              <ion-col col-12>
                <div class="sub-heading" style="font-weight:bold;">Element ID</div>
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-toolbar>
  
      <ion-toolbar class="sub-header bottom-border segment_btn_css" [hidden]="!isFiltering">
          <ion-segment [(ngModel)]="order" style="margin-top:0px !important;">
              <ion-segment-button value="ascending">
                  ASCENDING
              </ion-segment-button>
              <ion-segment-button value="descending">
                  DESCENDING
              </ion-segment-button>
          </ion-segment>
      </ion-toolbar>

    <ion-list class="list_items" *ngIf="!isFiltering" padding>
        <ion-item *ngFor="let element of data; let i=index;" (click)="selectItem(element)" [ngClass]="getStyle(element)">
          <p>{{ element.name }}</p>
        </ion-item>
        
    </ion-list>

    <div [ngSwitch]="filter" *ngIf="isFiltering">
        <ion-list class="list_items" *ngSwitchCase="'most_popular'" padding>
            <ion-row class="sub-header bottom-border" padding>
                <ion-col>
                  <div class="sub-heading">Position</div>
                </ion-col>              
            </ion-row>
            <ion-item *ngFor="let element of data | sort : 'popularity': 'numericID' : order; let i=index;" [ngClass]="getStyle(element)" (click)="selectItem(element)">
              <p>{{ element.name }}</p>
            </ion-item>
        </ion-list>
      
        <ion-list class="list_items" *ngSwitchCase="'recently_added'" padding>
            <ion-item *ngFor="let element of data?.reverse() | reverse: 'numericID' : order; let i=index;" (click)="selectItem(element)" [ngClass]="getStyle(element)">
              <p>{{ element.name }}</p>
            </ion-item>
        </ion-list>
    </div>

</ion-content>


<ion-footer no-border>
   <button ion-button block no-margin class="theme-btn no-radius" (click)="createElement()" >Create Element</button>
</ion-footer>
 -->
