<!--
  Generated template for the StudyItemsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="blue-header" no-border>
  
  <ion-toolbar color="primary">           
    
    <button ion-button (click)="cancelStudy()" class="men_btn">
      <ion-icon name="menu" class="ion-md-new-toggle"></ion-icon>
    </button> 
      
    <ion-title>{{ isStudyEnded ? 'Study Data' : 'Round Data' }}</ion-title>

    <ion-buttons end>
      <button ion-button clear style="font-size:22px;" (click)="cancelStudy()">
        <ion-icon ios="ios-more" md="md-more" class="ion-md-new-toggle"></ion-icon>
      </button>
    </ion-buttons>
  
  </ion-toolbar>

</ion-header>

<ion-content>

    <ion-toolbar color="primary" padding>

      <ion-title>{{ isStudyEnded ?  study_data.title : 'Round Summary' }}</ion-title> 
      
      <ion-buttons end *ngIf="isStudyEnded">
        <button ion-button clear (click)="openModal('EditTitlePage')">
            <ion-icon ios="ios-create" md="md-create" class="ion-md-edit"></ion-icon>
        </button> 
      </ion-buttons>

     </ion-toolbar>

    <ion-toolbar class="sub-header">
      <ion-grid no-padding>
        <ion-row>
          <ion-col col-6><div margin-left class="sub-head">{{ totalItemsSelected }} item selected</div></ion-col>
          <ion-col col-6 text-right><span  margin-right> 
            <button icon-only clear [disabled]="totalItemsSelected == 0" (click)="removeItems()">
              <ion-icon ios="ios-trash" md="md-trash" class="ion-md-delete"></ion-icon>
            </button>
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>

    <table class="table">
      <thead>
        <tr>
          <th *ngIf="isStudyEnded">Round</th>
          <th>Element</th>
          <th>Rating</th>
          <th>Frequency</th>
          <th width="55"></th>
        </tr>
      </thead>

    <tbody>
      <ng-template ngFor let-round [ngForOf]="study_data?.rounds | studyItems : isStudyEnded : showAll" let-i="index">
        <tr *ngFor="let item of round?.data; let j=index;" (click)="showSummary(item, i , j)">
          <td *ngIf="isStudyEnded">{{ convertTime(round.roundStartTime) }}</td>
          <td>
            <div class="number-icon">{{ item.element.numericID ? item.element.numericID : '--' }}</div>
              {{ item.element.name }}
          </td>
          <td>{{ item.rating }}</td>
          <td>{{ item.frequency }}</td>
          <td>
            <ion-checkbox (ionChange)="showSelectedItems(item)">
            </ion-checkbox>
          </td>
        </tr>
      </ng-template>
    </tbody>

  </table>

</ion-content>

<ion-footer>
  <ion-grid *ngIf="!isStudyEnded">
    <ion-row>
      <ion-col col-4>
        <button ion-button block no-radius class="theme-btn no-radius" [disabled]="study_data.rounds.length == 0" (click)="show()">{{ showAll ? 'SHOW LAST' : 'SHOW ALL' }}</button>
      </ion-col>
      <ion-col col-4>
        <button ion-button block no-radius class="theme-btn no-radius" [disabled]="study_data.rounds.length == 0" (click)="endStudy()">END</button>
      </ion-col>
      <ion-col col-4>
        <button ion-button block class="theme-btn no-radius" (click)="startNextRound()">NEXT ROUND</button>
      </ion-col>
    </ion-row>
  </ion-grid>
    
  <ion-grid no-padding *ngIf="isStudyEnded">
    <ion-row>
        <button ion-button block no-margin class="theme-btn no-radius" (click)="openModal('SubmitDataDialogPage')" [disabled]="study_data.rounds.length == 0">Submit Data</button>
    </ion-row>
  </ion-grid>
</ion-footer>

